#project-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#project-detail-panel {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 150px);
  width: 100%;
  padding-top: 60px;
  background-color: rgb(17, 17, 17);
}

#project-detail-hide-button {
  position: absolute;
  right: 20px;
  top: -60px;
  padding: 3px 20px 8px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  color: white;
  cursor: pointer;
}
#project-detail-hide-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

#project-detail-title {
  margin-top: -10px;
}

#project-detail-arrows {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

#project-detail-arrows .arrow {
  position: absolute;
  width:  40px;
  height: 40px;
  padding: 20px;
  background-image: url(/images/icon_arrow.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
}

#project-detail-arrows .arrow:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

#project-detail-arrows .arrow.left {
  left: 20px;
}

#project-detail-arrows .arrow.right {
  right: 20px;
}

#project-detail-image-arrows {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-detail-image-arrow {
  position: absolute;
  top: calc(50% - 12px);
  width: 40px;
  height: 40px;
  background-image: url(/images/icon_arrow.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}

.project-detail-image-arrow:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.project-detail-image-arrow.right {
  right: 10px;
}

.project-detail-image-arrow.left {
  left: 10px;
  transform: scaleX(-1);
}

#project-detail-content {
  display: flex;
  gap: 40px;
  width: 1000px;
  z-index: 1;
  margin-bottom: 20px;
  max-height: 100%;
  overflow-y: hidden;
}

#project-detail-type {
  width: max-content;
  font-size: 1.2rem;
}

#project-detail-description {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 0 2px;
}

#project-detail-artwork-side {
  position: relative;
  width: 60%;
  overflow-y: auto;
}
#project-detail-artwork-side:hover .project-detail-image-arrow {
  background-color: black;
}
#project-detail-text-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  max-height: 100%;
  margin-right: 10px;
  overflow-y: auto;
}

.description-collapse-button {
  position: absolute;
  top: -35px;
  right: 0;
  padding: 0 10px 2px;
  border-radius: 5px;
  cursor: pointer;
}
.description-collapse-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.vertical-padding-40 {
  height: 40px;
  min-height: 40px;
}

.artwork-side-image {
  width: 100%;
}

#projects-gallery-wrapper {
  max-height: 100%;
  overflow-y: auto;
}

#projects-gallery {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.project-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;
}

.project-thumbnail:hover {
  border-color: rgba(255, 255, 255, 1);
}

.project-thumbnail img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
  object-fit: cover;
  image-rendering: smooth;
  padding: 0;
  border: none;
}

#audio-player {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1000px;
  user-select: none;
}

.project-gallery-item-label {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  opacity: 0;
  filter: opacity(0);
  transition: filter 0.1s ease-in-out;
}

.project-thumbnail:hover .project-gallery-item-label {
  opacity: 1;
  filter: opacity(1);
}

.project-gallery-item-description {
  padding: 5px 12px 8px;
  color: white;
  background-color: black;
  z-index: 1;
}

.project-gallery-item-project-type {
  color: rgba(255, 255, 255, 1);
  padding: 2px 10px 5px;
  margin: 5px;
  width: max-content;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.tag-button {
  border-radius: 5px;
  padding: 5px;
}

.tag-button:hover {
  background-color:rgba(255, 255, 255, 0.125);
}

.audio-track-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.audio-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(255,255,255,0.06);
  border-radius: 2px;
  color: rgb(163, 163, 163);
  transition: background-color 0.05s cubic-bezier(0.4, 0.0, 1.0, 1.0), transform 0.05s, padding 0.05s, color 0.02s;
  cursor: pointer;
}

.audio-track:hover {
  background-color:rgba(255, 255, 255, 0.125);
}

.audio-track-play-state-icon {
  width: 24px;
  height: 24px;
}

.audio-track-play-state-icon.play {
  background-image: url(../images/play_icon.png);
}

.audio-track-play-state-icon.pause {
  background-image: url(../images/pause_icon.png);
}

.audio-track-duration {
  font-size: 1.2rem;
}