#project-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#project-detail-panel {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  padding: 40px 0;
  background-color: rgb(17, 17, 17);
}

#background-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-detail-hide-button {
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  filter: grayscale(1);
  color: white;
  cursor: pointer;
  transition: inset 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#project-detail-hide-button.portrait-mode {
  top: 20px;
  background-color: black;
  filter: none;
}

#background-container:hover #project-detail-hide-button {
  top: 32px;
}

#project-detail-hide-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
  filter: unset;
}

#project-detail-title {
  margin-bottom: 10px;
  line-height: 100%;
  word-wrap: break-word;
}

#project-detail-arrows {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

#project-detail-arrows .arrow {
  position: absolute;
  width:  48px;
  height: 48px;
  padding: 20px;
  background-image: url(/images/icon_arrow.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
}

#project-detail-arrows .arrow:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

#project-detail-arrows .arrow.left {
  left: 20px;
}

#project-detail-arrows .arrow.right {
  right: 20px;
}

#project-detail-image-arrows {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-detail-image-arrow {
  position: absolute;
  top: calc(50% - 12px);
  width: 40px;
  height: 40px;
  background-image: url(/images/icon_arrow.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}

.project-detail-image-arrow:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.project-detail-image-arrow.right {
  right: 10px;
}

.project-detail-image-arrow.left {
  left: 10px;
  transform: scaleX(-1);
}

#project-detail-content {
  display: flex;
  gap: 40px;
  width: 1000px;
  z-index: 1;
  max-height: 100%;
  overflow-y: hidden;
}

#project-detail-content.alt-layout {
  height: 100%;
  width: calc(100% - 80px);
}

#project-detail-content.alt-layout .artwork-side-image {
  height: 100%;
}

#project-detail-cover {
  position: relative;
  top: -40px;
  width: 100%;
  height: 40vh;
}
#project-detail-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#project-detail-type {
  width: max-content;
  font-size: 1.2rem;
}

#project-detail-description {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 0 2px;
}

#project-detail-artwork-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  width: 60%;
  overflow-y: auto;
}

#project-detail-artwork-side.alt-layout {
  width: 100%;
  height: 100%;
}

#project-detail-artwork-side:hover .project-detail-image-arrow {
  background-color: black;
}

#project-detail-text-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  max-height: 100%;
  overflow-y: auto;
}

.description-collapse-button {
  position: absolute;
  top: -35px;
  right: 0;
  padding: 0 10px 2px;
  border-radius: 5px;
  cursor: pointer;
}
.description-collapse-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.vertical-padding-40 {
  height: 40px;
  min-height: 40px;
}

.artwork-side-image {
  width: 100%;
  object-fit: contain;
  margin: 0;
  vertical-align: middle;
  border-radius: 5px;
}

#projects-gallery-wrapper {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}

#projects-gallery {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.project-gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.project-gallery-item:hover {
  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px 0px #ffffff70;
}

.project-gallery-item img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 5px;
  object-fit: cover;
  image-rendering: smooth;
  padding: 0;
  border: none;
}



#audio-player {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 720px / 2);
  display: flex;
  gap: 10px;
  align-items: center;
  width: 720px;
  height: 80px;
  padding: 10px;
  user-select: none;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  box-shadow: 0 -15px 20px 20px #00000050;
  z-index: 100000;
}

#audio-player.collapsed {
  height: unset;
  padding: 5px;
}

.audio-player-cover {
  height: 100%;
  width: auto;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.audio-player-cover:hover {
  border-color: rgba(255, 255, 255, 0.25);
  filter: brightness(1.2);
}

.audio-player-track {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  padding: 2px 10px 5px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(15, 15, 15);
  cursor: pointer;
}

.audio-player-track.collapsed {
  height: 10px;
  width: 100%;
}

.audio-player-track:hover {
  background-color: rgb(20, 20, 20);
}

.audio-player-track-name {
  text-shadow: 1px 1px 2px red;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
}

.audio-player-track-number {
  margin-left: 60px;
  font-weight: 600;
  pointer-events: none;
  z-index: 1;
}

.audio-player-controls {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  padding: 5px 20px;
}


.audio-player-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(51, 109, 136, 0.25);
}

.audio-player-playhead {
  position: absolute;
  top: 0;
  left: 0%;
  width: 2px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 1px white;
  pointer-events: none;
}
.audio-player-playhead.ghost {
  opacity: 0.5;
}

.audio-player-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  cursor: pointer;
  background-color: transparent;
}

.audio-player-button:hover {
  border-color: white;
}

.audio-player-button.next-track {
  background-image: url(../images/next_track_icon.png);
}

.audio-player-button.previous-track {
  background-image: url(../images/next_track_icon.png);
  transform: scaleX(-1);
}

.audio-player-button.play {
  background-image: url(../images/play_icon.png);
}

.audio-player-button.play.paused {
  background-image: url(../images/pause_icon.png);
}

.audio-player-button.volume {
  background-image: url(../images/volume_icon.png);
}

.audio-player-button.volume.muted {
  background-image: url(../images/volume_icon_muted.png);
}

.audio-player-close-button {
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  border-radius: 5px;
  background-image: url(../images/close_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  cursor: pointer;
}

.audio-player-close-button.collapsed {
  width: 24px;
  height: 24px;
  background-size: 20px;
}

.audio-player-close-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.audio-player-current-time {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

.audio-player-duration {
  position: absolute;
  right: 10px;
  /* top: 2px; */
  pointer-events: none;
}


/* SECTION */
/* audio-player mobile layout */

#audio-player.layout--mobile {
  height: 60px;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.audio-player-track.layout--mobile {
  position: absolute;
  top:   -28px;
  height: 28px;
  width: 100%;
  left: 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #ffffff20;
  background-color: rgb(51, 51, 51);
  text-shadow: 1px 1px 2px red;
}

.audio-player-track-name.layout--mobile {
  color: white;
  font-size: 1.2rem;
  text-shadow: none;
  width: 100%;
  overflow: hidden;
}

.audio-player-track-number.layout--mobile {
  margin-left: 0;
  color: white;
  font-size: 1.2rem;
}

.audio-player-cover.layout--mobile {
  width: 40px;
  height: 40px;
}

.audio-player-controls.layout--mobile {
  padding: 0;
  flex-grow: 1;
}

.audio-player-current-time.layout--mobile {
  left: 10px;
  top: 0;
}

.audio-player-duration.layout--mobile {
  right: 10px;
  top: 0;
}

.audio-player-playhead.ghost.layout--mobile {
  display: none;
}


.project-gallery-item-label {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  opacity: 0;
  filter: opacity(0);
  transition: filter 0.1s ease-in-out;
}

.project-gallery-item:hover .project-gallery-item-label {
  opacity: 1;
  filter: opacity(1);
}

.project-gallery-item-description {
  padding: 5px 12px 8px;
  color: white;
  background-color: black;
  z-index: 1;
}

.project-gallery-item-project-type {
  color: rgba(255, 255, 255, 1);
  padding: 2px 10px 5px;
  margin: 5px;
  width: max-content;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.tag-container {
  overflow: visible;
}

.tag-button {
  border-radius: 5px;
  padding: 5px;
  vertical-align: middle;
  overflow: visible;
}

.tag-button:hover {
  background-color:rgba(255, 255, 255, 0.125);
}

.audio-track-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.audio-track-info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 1rem;
  width: max-content;
  color: white;
}

.audio-track-info-button:hover {
  background-color: rgba(255, 255, 255, 0.125);
}

.audio-track-description {
  font-size: 1.2rem;
  margin: 10px;
}

.audio-track {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px 0 6px;
  background-color: rgba(255,255,255,0.06);
  border-radius: 2px;
  color: rgb(163, 163, 163);
  transition: background-color 0.05s cubic-bezier(0.4, 0.0, 1.0, 1.0), transform 0.05s, padding 0.05s, color 0.02s;
  user-select: none;
  cursor: pointer;
}

.audio-track-title {
  flex-grow: 1;
}

.audio-track:hover {
  background-color:rgba(255, 255, 255, 0.125);
}

.audio-track.active {
  background-color: rgba(255, 255, 255, 0.25);
}

.audio-track.active .audio-track-play-state-icon {
  background-image: url(../images/pause_icon.png);
}

.audio-track-play-state-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 24px;
  filter: opacity(0.5);
}

.audio-track:not(.active):hover .audio-track-play-state-icon {
  background-image: url(../images/play_icon.png);
}

.audio-track-play-state-icon.play {
  background-image: url(../images/play_icon.png);
}

.audio-track-play-state-icon.pause {
  background-image: url(../images/pause_icon.png);
}

.audio-track-duration {
  font-size: 1.2rem;
}

#project-detail-top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0, 0.0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  z-index: 100;
  pointer-events: none;
  user-select: none;
}

.projects-page-header {
  display: flex;
  gap: 60px;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #000000;
  padding-bottom: 20px;
  padding-top: 20px;
}
#projects-page-main-heading {
  color: white;
  margin-bottom: 10px;
  user-select: none;
}
.project-type-switch {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 100%;
}
.project-tag-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  font-size: 1.2rem;
  white-space: nowrap;
  hyphens: none;
  padding: 2px 20px 5px;
  border: 2px solid transparent;
  color: white;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.project-tag-switch:hover {
  background-color: var(--white-01);
}
.project-tag-switch.active {
  border: 2px solid var(--white-05);
}

#project-tags {
  display: flex;
  height: 100%;
  gap: 5px;
}

#project-detail-top-line {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: 
  linear-gradient(90deg, 
  rgba(255, 255, 255, 0.5) 0%, 
  rgba(255, 255, 255, 1) 50%, 
  rgba(255, 255, 255, 0.5) 100%
  );
  z-index: 100;
  pointer-events: none;
  user-select: none;
}

#project-detail-button-scroll-up {
  position: absolute;
  left: calc(50vw - 20px); /* this will break if the button isn't the right size */
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: url(../images/icon_scroll_up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #00000020;
  z-index: 1000;
}

.audio-player--button-show-audio-controls {
  min-width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: transparent;
  background-image: url(../images/icon_show_audio_controls.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  opacity: 0.5;
}


.audio-player--button-show-audio-controls.shown {
  opacity: 1.0;
  background-image: url(../images/icon_show_audio_controls_active.png);
}

.audio-player--button-show-audio-controls:hover {
  background-color: hsla(255, 100%, 100%, 0.1)
}

.thumbnail-overlay-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10000px;
  background-color: rgb(201, 32, 32);
  filter: blur(25px);
  mix-blend-mode: color-burn;
}

/* GLYPHS */
#background-shit {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

#background-shit canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


@media screen and (orientation: portrait) {
  
  #projects-page-main-heading {
    display: none;
  }

  #project-tags {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
  }

  #search-bar.active {
    width: 100%;
    justify-content: flex-end;
  }

  #search-bar-input {
    flex-grow: 1;
  }

  .project-gallery-item-label {
    opacity: 1;
    filter: opacity(1);
  }

  .project-gallery-item-description {
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  .projects-page-header {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-top: 5px;
  }

  #projects-gallery {
    padding: 0;
  }

  #project-detail {
    background-color: rgba(0, 0, 0, 0.75);
  }

  #project-detail-content {
    display: block;
    width: 100%!important;
    overflow-y: scroll;
  }

  #project-detail-panel {
    padding: 0!important;
    height: calc(100% - 160px);
  }

  #project-detail-artwork-side {
    width: 100%!important;
    height: 100vw;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .artwork-side-image {
    border-radius: 0;
  }

  #project-detail-text-side {
    width: 100%;
    max-height: unset;
    padding: 0 20px 20px;
  }

  #project-detail-title {
    word-wrap: break-word;
  }

  .project-type-switch {
    width: 100%;
    max-width: 100%;
    padding-bottom: 0;
  }

  #project-detail-description {
    margin: 0;
  }

  .tag-button {
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: 2px 8px 5px 8px;
  }
  .tag-container {
    display: flex;
    height: max-content;
    gap: 5px;
  }

  #audio-player.audio-player {
    left: 20px;
    bottom: 20px;
    top: unset;
    right: unset;
    width: calc(100vw - 40px);
  }

  .audio-track-title {
    font-size: 1.2rem;
  }
}